.App {
  text-align: center;
  background-color: #fff387;
}

.App-header {
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5rem;
}

.input-wrap {
  width: 85%;
  /* default for flex is row */
  display: flex;
}

.memes {
  /* based on the height of the screen */
  height: calc(100vh - 3.25rem);
  /* make the memes scrollable */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #4053bd;
}

.meme {
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.meme-title {
  display: none;
  position: absolute;
  width: calc(100% - 10px);
  bottom: 3px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.35);
  font-weight: 500;
  font-size: 0.7rem;
  padding: 2px 5px;

  /* make text that overflows not show - use ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meme:hover .meme-title {
  display: block;
}

.loading {
  padding-top: 5rem;
}
